.footer {
  @include center;
  background-color: $color-dark;
  color: $color-white;
  font-size: 1rem;

  &__container {
    @include center;
    @include monitor {
      flex-direction: column;
    }
    padding-top: 8vh;
    padding-bottom: 8vh;

    hr {
      color: $color-white;
      background-color: $color-white;
    }

    p {
      color: $color-white;
      font-size: 1.5rem;
      margin-left: 0;
      @include phone {
        font-size: 1.2rem;
      }
    }

    img {
      height: 5rem;
      margin-left: 25vw;
      @include monitor {
        margin-left: 0;
        text-align: center;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        font-size: 1.5rem;
        &:first-child {
          margin-left: 0px;
          @include phone {
            margin-left: 20px;
          }
        }
        @include phone {
          font-size: 1.2rem;
        }
        a {
          color: $color-white;
          text-decoration: none;
          padding-right: 20px;
          &:hover {
            filter: invert(0.3);
          }
          svg {
            vertical-align: bottom;
            padding-right: 15px;
          }
        }
      }
    }
  }
}
