.header {
  @include center;
  padding: 15px;
  padding-left: 4rem;
  padding-right: 4rem;
  justify-content: space-between;
  @include monitor {
    padding-left: 20px;
    padding-right: 20px;
  }

  img {
    height: 3rem;
  }

  &__container {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        float: left;
        font-size: 1.5rem;
        &:first-child {
          margin-left: 0px;
        }
        @include monitor {
          font-size: 1rem;
        }
        @include phone {
          margin: 0;
        }
        a {
          color: $color-text-main;
          text-decoration: none;
          padding-right: 20px;
          &:hover {
            filter: invert(0.3);
          }
        }
      }
    }
  }
}
